@model IEnumerable<SysBank.BLL.Models.BaseCardApplicationModel>

@{
    ViewBag.Title = "Lista wniosków";
}

<h2>Lista wniosków klientów do rozpatrzenia</h2>
@if (Model.Any()) { 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecisionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecisionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decision)
        </td>
        <td>
            @if (item.CardTypeId == 1001) { 
            @Html.ActionLink("Rozpatruj wniosek", "CreditApplicationAcceptance", new { id=item.Id })}
            else if (item.CardTypeId == 1002)
            {
                @Html.ActionLink("Rozpatruj wniosek", "DebitApplicationAcceptance", new { id = item.Id })
            }
            else if (item.CardTypeId == 1003)
            {
                @Html.ActionLink("Rozpatruj wniosek", "ATMApplicationAcceptance", new { id = item.Id })
            }
                                                                   
        </td>
    </tr>
}
</table>
}else {
<div>Brak wniosków do akceptacji. </div>
}