@model SysBank.BLL.Models.ATMCardApplication

@{
    ViewBag.Title = "ATMApplicationAcceptance";
}



<div>
    <h4>Wniosek o kartę bankomatową</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>



    </dl>
</div>
<p>
    <input type="button" value="Akceptuj" class="btn btn-success" onclick="location.href='@Url.Action("ApplicationAccept", "PaymentCards", new { id = Model.BaseApplicationId })'" />
    <input type="button" value="Odrzuć" class="btn btn-danger" onclick="location.href='@Url.Action("ApplicationReject", "PaymentCards", new { id = Model.BaseApplicationId })'" />
</p>
